<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sensenet">
      <section name="providers" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <sensenet>
    <providers>
      <add key="configured-provider-a" value="SenseNet.ContentRepository.Tests.TestProviderA" />
      <add key="configured-provider-b" value="SenseNet.ContentRepository.Tests.TestProviderB" />
    </providers>
  </sensenet>
</configuration>