@using SenseNet.ContentRepository
@using SenseNet.ContentRepository.Storage.Security
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <form asp-controller="sensenet" asp-action="Index" method="post">
        <div><a href="/">Home</a></div>
        <h2>sensenet test page</h2>
        <div>
            <button type="submit" id="test">PUSH</button>
        </div>
        <div>
            <h4>Users</h4>
            <div>
                <ul>
                    @using (new SystemAccount())
                    {
                        foreach (var user in Content.All.DisableAutofilters().OfType<User>().OrderBy(c => c.Name))
                        {
                            <li>@user.Name (@user.Email)</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </form>

