USE [master]
GO

/****** DROP DATABASE: [SenseNetContentRepository] ******/
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'$(INITIALCATALOG)')
BEGIN
	/****** Restricts access to this database to only one user at a time  ******/
	ALTER DATABASE [$(INITIALCATALOG)] SET SINGLE_USER WITH ROLLBACK IMMEDIATE 
	
	USE [master]
	DROP DATABASE [$(INITIALCATALOG)]
END 
GO

/****** CREATE DATABASE: [SenseNetContentRepository] ******/
CREATE DATABASE [$(INITIALCATALOG)]
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'$(INITIALCATALOG)' --, @new_cmptlevel=100
GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [$(INITIALCATALOG)].[dbo].[sp_fulltext_database] @action = 'disable'
--end
--GO
--EXEC sp_fulltext_database enable
--GO
ALTER DATABASE [$(INITIALCATALOG)] SET ANSI_NULL_DEFAULT OFF 
GO