/****** DROP DATABASE ******/
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'$(INITIALCATALOG)')
BEGIN
	/****** Restricts access to this database to only one user at a time  ******/
	ALTER DATABASE [$(INITIALCATALOG)] SET SINGLE_USER WITH ROLLBACK IMMEDIATE 
	
	DROP DATABASE [$(INITIALCATALOG)]
END 

/****** CREATE DATABASE ******/
CREATE DATABASE [$(INITIALCATALOG)] (SERVICE_OBJECTIVE = 'S0')
GO
