USE [master]
GO

/****** DROP DATABASE: [{DatabaseName}] ******/
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'{DatabaseName}')
BEGIN
	/****** Restricts access to this database to only one user at a time  ******/
	ALTER DATABASE [{DatabaseName}] SET SINGLE_USER WITH ROLLBACK IMMEDIATE 
	
	USE [master]
	DROP DATABASE [{DatabaseName}]
END 

/****** CREATE DATABASE: [{DatabaseName}] ******/
CREATE DATABASE [{DatabaseName}]
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'{DatabaseName}' --, @new_cmptlevel=100
GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [{DatabaseName}].[dbo].[sp_fulltext_database] @action = 'disable'
--end
--GO
--EXEC sp_fulltext_database enable
--GO
ALTER DATABASE [{DatabaseName}] SET ANSI_NULL_DEFAULT OFF 
GO