<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="sensenet">
      <section name="data" type="System.Configuration.NameValueSectionHandler" />
      <section name="providers" type="System.Configuration.NameValueSectionHandler" />
      <section name="repositoryEnvironment" type="System.Configuration.NameValueSectionHandler" />
      <section name="identityManagement" type="System.Configuration.NameValueSectionHandler" />
      <section name="logging" type="System.Configuration.NameValueSectionHandler" />
      <section name="journal" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Persist Security Info=False;Initial Catalog=.;Data Source=sensenet;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <sensenet>
    <data>
      <add key="SqlCommandTimeout" value="600" />
      <add key="TransactionTimeout" value="600" />
      <add key="LongTransactionTimeout" value="600" />
    </data>
    <providers>
      <add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider" />
    </providers>
    <repositoryEnvironment>
      <add key="SpecialWorkingMode" value="SnAdmin" />
      <add key="DisabledNodeObservers" value="SenseNet.Portal.SkinObserver;SenseNet.Portal.UI.ScriptDependencyObserver;SenseNet.Portal.Workspaces.JournalObserver;SenseNet.ApplicationModel.AppStorageInvalidator;SenseNet.ContentRepository.Storage.AppModel.AppCacheInvalidator;SenseNet.ContentRepository.Storage.AppModel.RepositoryEventRouter;SenseNet.Workflow.WorkflowNotificationObserver;SenseNet.Notification.NotificationObserver;SenseNet.Preview.DocumentPreviewObserver" />
      <add key="DefaultLockTimeout" value="60" />
    </repositoryEnvironment>
    <identityManagement>
      <add key="UserProfilesEnabled" value="false" />
    </identityManagement>
    <logging>
      <add key="AuditEnabled" value="false" />
    </logging>
    <journal>
      <add key="CreateJournalItems" value="false" />
    </journal>
  </sensenet>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <globalization resourceProviderFactoryType="SenseNet.ContentRepository.i18n.SenseNetResourceProviderFactory, SenseNet.ContentRepository" />
  </system.web>
  <runtime>
    <!-- TODO: Please copy the contents of the runtime section from your Web.config here. -->
  </runtime>
</configuration>