<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="sensenet">
      <section name="data" type="System.Configuration.NameValueSectionHandler" />
      <section name="providers" type="System.Configuration.NameValueSectionHandler" />
      <section name="repositoryEnvironment" type="System.Configuration.NameValueSectionHandler" />
      <section name="identityManagement" type="System.Configuration.NameValueSectionHandler" />
      <section name="logging" type="System.Configuration.NameValueSectionHandler" />
      <section name="journal" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="adsync.log" footer="" formatter="AdSync Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="200" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="AdSync Flat File Trace Listener" />
      <add source="Enterprise Library Logging" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Application EventLog TraceListener" />
      <add databaseInstanceName="SnCrMsSql" writeLogStoredProcName="proc_LogWrite" addCategoryStoredProcName="proc_LogAddCategory" formatter="SnXmlFormatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" name="Database Trace Listener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="SenseNet.Diagnostics.OneLineTraceListener, SenseNet.Storage, Version=5.9.1.2, Culture=neutral, PublicKeyToken=null" name="Debug Trace Listener" initializeData="" formatter="OneLineFormatter" />
      <add source="SenseNetInstrumentation" formatter="Text Formatter" log="SenseNet" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="Information" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="SenseNet EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="{timestamp} {severity} {message} {keyvalue(Messages)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="AdSync Text Formatter" />
      <add template="{severity} {category} {message}: Properties: {dictionary({key}={value};)}; Timestamp: {timestamp}; Machine: {machine}; AppDomain: {appDomain}; ProcessId: {processId}; Process: {processName}; Win32ThreadId: {win32ThreadId}; ThreadName: {threadName}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="OneLineFormatter" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add type="SenseNet.ContentRepository.Storage.Diagnostics.SnXmlFormatter, SenseNet.Storage" name="SnXmlFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AdSync">
        <listeners>
          <add name="AdSync Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Audit">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="Debug Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Debug Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="SenseNet EventLog TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SenseNet EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <unity>
    <typeAliases>
      <!-- Provider aliases -->
      <typeAlias alias="IApplicationCache" type="SenseNet.ContentRepository.Storage.AppModel.IApplicationCache, SenseNet.Storage" />
      <!--<typeAlias alias="IActionFactory" type="SenseNet.ContentRepository.IActionFactory, SenseNet.ContentRepository" />-->
      <typeAlias alias="ISearchEngine" type="SenseNet.ContentRepository.Storage.Search.ISearchEngine, SenseNet.Storage" />
      <!-- Provider implementation aliases -->
      <typeAlias alias="IApplicationCacheImpl" type="SenseNet.ContentRepository.ApplicationCache, SenseNet.ContentRepository" />
      <!--<typeAlias alias="IActionFactoryImpl" type="SenseNet.Portal.PortalActionLinkManager, SenseNet.Portal" />-->
      <typeAlias alias="ISearchEngineImpl" type="SenseNet.Search.LuceneSearchEngine, SenseNet.ContentRepository" />
    </typeAliases>
    <containers>
      <container name="Providers">
        <types>
          <!-- Binding providers to implementations -->
          <type type="IApplicationCache" mapTo="IApplicationCacheImpl" />
          <!--<type type="IActionFactory" mapTo="IActionFactoryImpl" />-->
          <type type="ISearchEngine" mapTo="ISearchEngineImpl" />
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Persist Security Info=False;Initial Catalog=.;Data Source=sensenet;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <sensenet>
    <data>
      <add key="SqlCommandTimeout" value="600" />
      <add key="TransactionTimeout" value="600" />
      <add key="LongTransactionTimeout" value="600" />
    </data>
    <providers>
      <add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider" />
    </providers>
    <repositoryEnvironment>
      <add key="SpecialWorkingMode" value="SnAdmin" />
      <add key="DisabledNodeObservers" value="SenseNet.Portal.SkinObserver;SenseNet.Portal.UI.ScriptDependencyObserver;SenseNet.Portal.Workspaces.JournalObserver;SenseNet.ApplicationModel.AppStorageInvalidator;SenseNet.ContentRepository.Storage.AppModel.AppCacheInvalidator;SenseNet.ContentRepository.Storage.AppModel.RepositoryEventRouter;SenseNet.Workflow.WorkflowNotificationObserver;SenseNet.Messaging.NotificationObserver;SenseNet.Preview.DocumentPreviewObserver" />
      <add key="DefaultLockTimeout" value="60" />
    </repositoryEnvironment>
    <identityManagement>
      <add key="UserProfilesEnabled" value="false" />
    </identityManagement>
    <logging>
      <add key="AuditEnabled" value="false" />
    </logging>
    <journal>
      <add key="CreateJournalItems" value="false" />
    </journal>
  </sensenet>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <globalization resourceProviderFactoryType="SenseNet.ContentRepository.i18n.SenseNetResourceProviderFactory, SenseNet.ContentRepository" />
  </system.web>
  <runtime>
    <!-- TODO: Please copy the contents of the runtime section from your Web.config here. -->
  </runtime>
</configuration>